<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @alumni_address.name %>
</p>

<p>
  <b>Vulgo:</b>
  <%= @alumni_address.vulgo %>
</p>

<p>
  <b>Email:</b>
  <%= @alumni_address.email %>
</p>

<p>
  <b>Comment:</b>
  <%= @alumni_address.comment %>
</p>

<p>
  <b>Address:</b>
  <%= formatted_address(@alumni_address.address) %>
</p>


<%= link_to 'Edit', edit_alumni_address_path(@alumni_address) %> |
<%= link_to 'Back', alumni_addresses_path %>
