<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @mail_alias.string %>
</p>

<p>
  <b>String:</b>
  <%= @mail_alias.string %>
</p>


<%= link_to 'Edit', edit_mail_alias_path(@mail_alias) %> |
<%= link_to 'Back', mail_aliases_path %>
