<h2>Biberstufe</h2>
<p>"Immer debi", so lautet das Motto der Biber der Pfadi SMN. 
  Die Biberstufe richtet sich an Kinder zwischen 5 und 7 Jahren (1. oder 2. Kindergarten).</p>
<p>
  Die Aktivitäten finden in der Regel zwei Mal monatlich statt. 
  Biber verbringen den Samstag Nachmittag im Wald und entdecken dabei spielerisch die Natur. 
</p>
<p>
  In der Biberstufe finden keine Lager statt. Alle Leiter haben Leiterkurse besucht und sind mindestens 18 Jahre alt.
</p>
<%= image_tag image_path('abteilung/biberstufe/collage_biberstufe.jpg') %>
<h3>Das Bibergesetz</h3>
<p>"Mir sind Biber und wänd anderi i de Gruppe kennelernä und zämä spielä, Neus entdecke und lernä, oisne Leiterinne und Leiter zulosä und de Natur sorgträgä."</p>

<% content_for :sidebar do %>
  <h2>Stufenleitung</h2>
  <% @ou.team.each do |member| %>
    <%= render partial: 'members/contact', locals: { member: member } %>
  <% end %>

  <h2>Events</h2>
  <ul>
    <li><%= link_to "Alle Events »", organisational_unit_events_path(@ou) %></li>
    <% if @ou.events.upcoming.any? %>
      <li><%= link_to "Quartalsprogramm als PDF", quartalsprogramm_organisational_unit_events_path(@ou, format: :pdf) %></li>
    <% end %>
  </ul>

  <%= render partial: 'events/sidebar_event', locals: { event: @ou.events.upcoming.first } %>
<% end %>