<h1>Quartalsprogramm</h1>

<table class="events">
  <% @events.each do |event| %>
    <tr>
      <td><%= l event.start_time %></td>
      <td><%= link_to event.start_place, event.start_place %></td>
      <td><%= event.organisational_unit.name %></td>
      <td><%= event.name %></td>
      <td><%= link_to "Details »", event %></td>
    </tr>
  <% end %>
</table>