<%= heading("Events", "Anlässe #{@ou.name}", icon: 'events/index/icon_event.png') %>

<% if can? :create, Event %>
  <ul class="buttons" style="float:right;">
    <li><%= link_to 'Event erfassen', new_organisational_unit_event_path(@ou), class: 'new' %></li> 
    </ul>
  <% end %>

  <h2>Übersicht der Events</h2>

  <% if @events.any? %>
    <table class="events">
      <% @events.each do |event| %>
        <tr>
          <td><%= l event.start_time %></td>
          <td><%= link_to event.start_place, event.start_place %></td>
          <td><%= event.organisational_unit.name %></td>
          <td><%= event.name %></td>
          <td><%= link_to "Details »", organisational_unit_event_path(@ou, event) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <i>Keine Events geplant.</i>
  <% end %>

  <% content_for :sidebar do %>
    <%= render'sidebar' %>
  <% end %>
