<% if can? :create, Event %>
  <ul class="buttons" style="float: right;">
    <li><%= link_to 'Event bearbeiten', edit_organisational_unit_event_path(@ou, @event), class: 'edit' if can? :update, Event %></li>
    <li><%= link_to 'Event löschen', organisational_unit_event_path(@ou, @event), method: :delete, confirm: t(:really_delete?), class: 'delete' if can? :destroy, Event %></li>
    <li><%= link_to 'Event erfassen', new_organisational_unit_event_path(@ou), class: 'new' if can? :create, Event %></li>        
  </ul>
<% end %>
<h2><%= @event.name %></h2>

<h3><%= @event.organisational_unit %></h3>
<div>Beginn: <%= l @event.start_time %>  <%= "(#{link_to @event.start_place, @event.start_place})".html_safe if @event.start_place %></div>
<div>Ende: <%= l @event.end_time %>  <%= "(#{link_to @event.end_place, @event.end_place})".html_safe if @event.end_place %></div>

<div>
  <%= RedCloth.new(@event.content).to_html.html_safe if @event.content.present? %>
</div>

<h3>Mitnehmen</h3>
<ul>
  <% @event.take_along.each_line do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<h3>Zusätzliche Infos</h3>
<%= RedCloth.new(@event.description).to_html.html_safe %>

<% if @event.creator %>
  <h3>Rückfragen & Abmeldungen</h3>
  <p>
    <%= contact_name @event.creator.member  %>
  </p>
<% end %>
<br/>
<br/>
  <p><%= link_to '« zur Event Übersicht', organisational_unit_events_path(@ou) %></p>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>