<% if can? :create, News %>
  <ul class="buttons" style="float: right;">
    <li><%= link_to 'News bearbeiten', edit_news_path(@news), class: 'edit' if can? :update, Event %></li>
    <li><%= link_to 'News löschen', news_path(@news), method: :delete, confirm: t(:really_delete?), class: 'delete' if can? :destroy, News %></li>
    <li><%= link_to 'News erfassen', new_news_path, class: 'new' if can? :create, News %></li>        
  </ul>
<% end %>

<h2><%= @news.title %></h2>
<span class="meta"><%= l @news.published_at %> von <%= @news.creator.try(:member) || "?" %></span>
<div><%= @news.to_html %></div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %> 
<% end %>