<%= heading("Fotos", "Impressionen aus der Pfadi SMN", icon: 'pfadilife/photos/icon_gallery.png') %>
<% if can? :create, PhotoCollection::AlbumUpload %>
  <ul class="buttons" style="float: right;">
    <li><%= link_to 'Album hochladen', new_photo_path, class: 'new' if can? :create, PhotoCollection::AlbumUpload %></li>        
  </ul>
<% end %>
<div class="albums">
  <% @album_years.sort.reverse.each do |year, albums| %>
    <h2>Alben <%= year %></h2>
    <ul>
      <% albums.each do |album| %>
        <li>
          <%= link_to photo_album_path(year: year, id: album.id[:id]) do %>
            <%= image_tag album.thumbnail.url if album.thumbnail.present?  %>
            <div><%= album.name %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= clearer %>
  <% end %>
</div>


<% content_for :sidebar do %>
  <h2>Fotos zum Veröffentlichen?</h2>
  <p>
    Du hast noch Fotos welche nicht auf der Webseite sind? Dann melde dich bitte unter <%= link_to 'webmaster@pfadismn.ch', 'mailto:webmaster@pfadismn.ch'%>. Wir integrieren gerne deine Fotos, sodass alle Pfadis an den Impressionen teilhaben können!</p>
  
<% end %>