<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Language" content="de"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta property="og:site_name" content="Pfadi St. Mauritius Nansen"/>
    <meta property="og:title" content="<%= yield :title %>"/>
    
    <title>Pfadi SMN :: <%= yield :title %></title>
    
    <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Habibi" %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= javascript_include_tag "application", :debug => Rails.env.development?, :charset => "utf-8" %>
    <%= render '/layouts/google_analytics' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="rootContainer" class="container">
      <div id="headContainer" class="container">
        <h2>Pfadiabteilung</h2>
        <h1>St. Mauritius Nansen</h1>
        <h3>Höngg, 8049 Zürich</h3>
      </div>

      <div id="navigationContainer" class="container">
        <%= render partial: 'layouts/navigation' %>
      </div>

      <div id="contentContainer" class="container">
        <%= render partial: 'layouts/flashes', locals: { flash: flash} %>
         <% if content_for? :heading %>
          <div id="heading" class="container">
            <%= yield :heading %>
          </div>
        <% end %>
        <% if content_for? :sidebar %>
          <div id="mainContent" class="container">
            <%= yield %>
          </div>
          <div id="sidebarContent" class="container">
            <%= yield :sidebar %>
          </div>
         <div class="clear"></div>
        <% else %>
          <div id="content" class="container">
            <%= yield %>
          </div>
        <% end %>
      </div>
      <div id="footContainer" class="container">
        &copy; <%= Time.now.try(:year) %>  by Gulli & Filou | Pfadi SMN Zürich-Höngg | <%= link_to 'Impressum', impressum_path, :style => 'color: #7C7C7C; border-bottom: none;' %>
      </div>
    </div>
  </body>
</html>
